<!DOCTYPE html>

<html>
    <head>
        <title> Arrow Express - Sign Up </title> 
        <link rel="icon" type="image/png" href="Images/DLSU_Logo.png">
        <link rel="stylesheet" href="CSS/FormStyle.css">  <!-- Kailangan to if may separate CSS file -->
        <script src="JS/User.js"> </script>
    </head>

    <body>
        <div class = "banner"> 

            <div class="navbar">
                <a href="/"><img src="Images/Leftarrow.png" class = "back_img"></a>
                <a href="/"> <img src= "Images/DLSU_Logo.png" class = "website_logo"> </a> 
            </div>
            
            <div class="form_box">
                <h2> Sign Up </h2>
                <h4> It's quick and easy </h4>
                <hr>
                <div class="input">
                    <form action="/SignUp" method="post">
                        <div class="input_name">  
                            <div> <input type="text" placeholder="First Name" class="fillup name" required name="user_firstName" id="user_firstName"> </div>    
                            <div> <input type="text" placeholder="Last Name" class="fillup name" required name="user_lastName" id="user_lastName"> </div>    
                        </div>
                        <input type="email" placeholder="E-mail" class="fillup" required name="user_email" id="user_email">
                        <input type="text" placeholder="ID Number" class="fillup" required name="user_idNumber" id="user_idNumber" pattern="[0-9]+" minlength="8" maxlength="8" >
                        <input type="password" placeholder="Password" class="fillup" required name="user_password" id="user_password">
                        <input type="password" placeholder="4-Digit Security Code" class="fillup" required name="user_securityCode" id="user_securityCode" pattern="[0-9]+" minlength="4" maxlength="4" >
                        
                        <select name="user_designation" id="user_designation" class="fillup" style="width: 320px;" required >
                            <option value="" disabled selected hidden s> Designation </option>
                            <option value="Student"> Student </option>
                            <option value="Guest"> Guest </option>
                            <option value="Faculty"> Faculty </option>
                            <option value="ESP"> ESP </option>
                            <option value="CAP"> CAP </option>
                            <option value="ASF"> ASF </option>
                            <option value="APSP"> APSP </option>
                        </select>

                        <select name="user_passengerType" id="user_passengerType" class="fillup" style="width: 320px;" required >
                            <option value="" disabled selected hidden s> Type of Passenger </option>
                            <option value="Student"> Student </option>
                            <option value="Employee"> Employee </option>
                        </select>

                        <button type="submit" class="toggle_btn" onclick="create_User()"> Sign Up <style> .toggle_btn{ font-size: large; font-weight: bold;}</style></button>
                    </form>
                </div>

                <p> People who use our service may have uploaded your contact information to De La Salle University - Laguna. </p>
                <br>
                <p> By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. </p>

                <div class="subtext">
                    <a href="/Login"> Login </a>
                </div>
            </div>

        </div>
    </body>
    
    <style>
        .input{
            top: 25px;
        }

        .form_box{
            height: 610px;
        }

        .form_box p{
            top: -35px;
            
        }

        .toggle_btn{
            top: 70px;
        }

        .subtext a{
            position: relative;
            top: 25px;
        }

    </style>


</html>